mainmenu "AudioReach Engine $(MAJOR_VERSION).$(MINOR_VERSION)-$(PATCHLEVEL) Configuration"
source arch/Kconfig
source modules/Kconfig
source fwk/Kconfig
source fwk/spf/modules/Kconfig
source fwk/spf/containers/Kconfig
source fwk/platform/modules/Kconfig
source fwk/platform/posal/Kconfig
