mainmenu "AudioReach Engine $(MAJOR_VERSION).$(MINOR_VERSION)-$(PATCHLEVEL) Configuration"
rsource "arch/Kconfig"
rsource "modules/Kconfig"
rsource "fwk/Kconfig"
rsource "fwk/spf/modules/Kconfig"
rsource "fwk/spf/containers/Kconfig"
rsource "fwk/platform/modules/Kconfig"
rsource "fwk/platform/posal/Kconfig"
