menu "Signal Processing Framework Modules"

config DATA_LOGGING
        tristate "Enable DATA_LOGGING Library"
        default y

config LATENCY
        tristate "Enable LATENCY Library"
        default y

config SYNC
        tristate "Enable SYNC Library"
        default y

config SPR
        tristate "Enable SPR Library"
        default y

config SPLITTER
        tristate "Enable SPLITTER Library"
        default y

config DATA_MARKER
        tristate "Enable DATA_MARKER Library"
        default y

config PRIORITY_SYNC
        tristate "Enable PRIORITY_SYNC Library"
        default y

config MUX_DEMUX
        tristate "Enable MUX_DEMUX Library"
        default y

config SISO_RAT
        tristate "Enable SISO_RAT Library"
        default y

config SH_MEM_PULL_MODE
        tristate "Enable SH_MEM_PULL_MODE Library"
        default y

config SH_MEM_PUSH_MODE
        tristate "Enable SH_MEM_PUSH_MODE Library"
        default y

config IRM
        bool "Enable Integrated Resource Monitor (IRM)"
        default y
        help
            Enable the Integrated Resource Monitor module for tracking and
            managing system resources. The IRM module provides real-time monitoring
            capabilities

            When disabled, stub implementation is compiled.
endmenu
